<div class="panel panel-info" ng-show="!!(user && user.id)">
    <form>
        <div class="panel-heading">
            <h3 class="panel-title">
                <input ng-model="user.name">
                <a ng-if="user.id" href="#" class="pull-right bg-danger" ng-click="userCardEditCtrl.delete(user)">&#10008; Delete</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <avatar avatar-url="user.avatarUrl"></avatar>
                </div>

                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Телефон</td>
                                <td><input style="width: 100%;" ng-model="user.phone"></td>
                            </tr>
                            <tr>
                                <td>Website</td>
                                <td><input style="width: 100%;" ng-model="user.website"></td>
                            </tr>
                            <tr>
                                <td>Адрес</td>
                                <td><input style="width: 100%;" ng-model="user.fullAddress"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input style="width: 100%;" ng-model="user.email"></td>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <a href="#" ng-click="userCardEditCtrl.save(user)">&#10004; Save</a>
            </div>
        </div>
    </form>
</div>