<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar">
                <a class="navbar-brand" ui-sref="folders.letters({ folderId: 1 })">E-Mail</a>
                <a class="navbar-brand" ui-sref="usersList">Users</a>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div ui-view class="row"></div>
</div>